<nav class="navbar navbar-expand-sm navbar-light bg-light mb-5 fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">LOGO</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="input-group w-25">
        <input
          #myInput
          class="form-control col-md"
          type="text"
          placeholder="search..."
          (keyup.enter)="searchEvent(myInput.value)"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchEvent(myInput.value)"
          >
            Search
          </button>
        </div>
      </div>

      <ul class="navbar-nav m-auto">
        <li class="navbar-item">
          <a
            class="nav-link"
            routerLink="events/categories"
            routerLinkActive="active-link"
            >Categories</a
          >
        </li>
        <li class="navbar-item">
          <a
            class="nav-link"
            routerLink="user/login"
            routerLinkActive="active-link"
            >Login</a
          >
        </li>
        <li class="nav-item dropdown">
          <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"
            >My Account</a
          >
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">My Events</a>
            <a
              routerLink="user/tickets/{{ 1 }}"
              routerLinkActive="active-link"
              class="dropdown-item"
              >My tickets</a
            >
            <a
              routerLink="user/bills/{{ 1 }}"
              routerLinkActive="active-link"
              class="dropdown-item"
              >My bills</a
            >
            <a
              routerLink="admin/dashboard"
              routerLinkActive="active-link"
              class="dropdown-item"
              >Dashboard</a
            >
            <div *ngIf="!loggedUser">
              <div class="dropdown-divider"></div>
              <a routerLink="/logout" class="dropdown-item text-danger"
                >Log out</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<hr />

<main>
  <router-outlet></router-outlet>
</main>

<footer style="margin-top: 350px">
  <hr class="my-5" />
  <section class="text-center mb-5">
    <a href="#" class="btn btn-outline-secondary btn-sm text-center"
      >back to top</a
    >
  </section>
  <article class="d-flex justify-content-around">
    <article class="d-flex flex-column">
      <h5>CONTACT</h5>

      <ul class="list-unstyled">
        <li>Street: Strada</li>
        <li>City: Timisoara</li>
        <li>Region: Timis</li>
        <li>Zip Code: 123456</li>
        <li>Phone Number: 0726 475 822</li>
        <li>Mobile Number: 0746 857 827</li>
      </ul>
    </article>

    <article class="d-flex flex-column">
      <h5>Follow us</h5>
      <ul class="list-unstyled">
        <li>
          <a href="#"
            ><i class="fa-brands fa-facebook fa-lg mb-4"
              ><span class="mx-3">Facebook</span></i
            ></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa-brands fa-instagram fa-lg mb-4"
              ><span class="mx-3">Instagram</span></i
            ></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa-brands fa-twitter fa-lg"
              ><span class="mx-3">Twitter</span></i
            ></a
          >
        </li>
      </ul>
    </article>
  </article>

  <article class="text-center mt-3">
    <h5>EVENTZZ</h5>
    <p>&copy; 2022 EVENTZZ. Built using Spring boot and Angular</p>
  </article>
</footer>
