<article class="jumbotron jumbotron-fluid bg-light" style="padding-top: 7%">
  <section class="container">
    <h1 class="display-2">EVENTZZ</h1>
    <p class="lead">Discover the events around you</p>

    <section class="d-flex justify-content-around mt-5 p-5">
      <div class="self-align-end">Stay connected with the city</div>
      <div style="width: 1px; height: 100px; background-color: black"></div>
      <div class="align-self-end">Browse the event around you</div>
    </section>

    <button
      class="btn btn-outline-warning btn-lg w-50 mt-5"
      routerLink="/events/browse"
      routerLinkActive="active-link"
    >
      Browse
    </button>
  </section>
</article>

<hr class="mx-5" />

<section class="user-upcoming-events"></section>
<!-- <app-list-category-events></app-list-category-events> -->
<!-- <section class="events-by-category" id="category-list">
    <app-list-category-events></app-list-category-events>
</section> -->

<app-list-category-events></app-list-category-events>

<article class="container" id="popularEvents">
  <h3 class="mt-5 mb-4">Popular Events</h3>

  <section class="d-flex flex-wrap justify-content-around">
    <section *ngFor="let tempEvent of topEvents">
      <article class="card col-md-3 mb-3" style="width: 20rem">
        <img
          class="card-img-top card-fluid"
          style="width: 19.9rem"
          src="https://source.unsplash.com/random/300x200"
        />
        <section class="card-body">
          <h4 class="card-title">{{ tempEvent.name }}</h4>
          <p class="card-text">{{ tempEvent.description }}</p>
          <section class="d-inline">
            <a
              class="btn btn-success btn-block d-inline"
              routerLink="events/{{ tempEvent.eventId }}"
              routerLinkActive="active-link"
              >Read More</a
            >

            <div class="d-inline mx-3" style="font-size: 12px">
              <div class="d-inline">going {{ tempEvent.going }}</div>
              <div class="d-inline ml-2">
                interested {{ tempEvent.interested }}
              </div>
            </div>
          </section>
        </section>
      </article>
    </section>
  </section>
</article>
