<nav class="navbar navbar-expand-sm navbar-light bg-light mb-5 fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">LOGO</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="input-group w-25">
        <input
          #myInput
          class="form-control col-md"
          type="text"
          placeholder="search..."
          (keyup.enter)="searchEvent(myInput.value)"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchEvent(myInput.value)"
          >
            Search
          </button>
        </div>
      </div>

      <ul class="navbar-nav m-auto">
        <li class="navbar-item">
          <a
            class="nav-link"
            routerLink="events/categories"
            routerLinkActive="active-link"
            >Categories</a
          >
        </li>
        <li class="navbar-item">
          <div *ngIf="!loggedUser">
            <a
              class="nav-link"
              routerLink="user/login"
              routerLinkActive="active-link"
              >Login</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"
            >My Account</a
          >
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">My Events</a>
            <a
              routerLink="user/tickets/{{ 1 }}"
              routerLinkActive="active-link"
              class="dropdown-item"
              >My tickets</a
            >
            <a
              routerLink="user/bills/{{ 1 }}"
              routerLinkActive="active-link"
              class="dropdown-item"
              >My bills</a
            >
            <a
              routerLink="admin/dashboard"
              routerLinkActive="active-link"
              class="dropdown-item"
              >Dashboard</a
            >
            <div *ngIf="loggedUser">
              <div class="dropdown-divider"></div>
              <a routerLink="/logout" class="dropdown-item text-danger"
                >Log out</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
