<div class="container" style="padding-top: 6rem">
  <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
    <!-- Stripe elements-->
    <div formGroupName="creditCard" class="form-area">
      <h3>Credit or Debit Card</h3>
      <p class="text-muted" style="font-size: 12px">
        Please provide payment card information
      </p>

      <div id="card-element" class="form-control mt-5">
        <!-- stripe element will be inserted here-->
      </div>

      <!-- display error-->
      <div
        id="card-errors"
        class="displayError.textContent!=='': 'alert alert-danger mt-3'"
      ></div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-success mt-5">Purchase</button>
    </div>
  </form>
</div>
